<button class="btn btn-primary mb-3" (click)="limparCampos()"  >
  {{showList ? 'Cadastrar Candidato' : 'Lista de Candidatos'}}
</button>

<div *ngIf="showList">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Genero</th>
        <th scope="col">Data Nascimento</th> 
        <th scope="col">Ação</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidato of candidatos">
        <th scope="row">{{candidato.id}}</th>
        <td>{{candidato.nome}}</td>
        <td>{{candidato.email}}</td>
        <td>{{candidato.telefone}}</td>
        <td>{{candidato.genero}}</td>
        <td>{{candidato.dataNascimento}}</td>
        <td>
          <button class="btn btn-warning mr-3" (click)="mostrar(candidato)">Editar</button>
          <button class="btn btn-danger" (click)="delete(candidato)">Deletar</button>
        </td> 
      </tr> 
    </tbody>
  </table>
</div>

<div *ngIf="!showList"> 
  <form [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-group" >
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="candidato.nome" formControlName="nome" 
          [ngClass]="{'is-invalid': form.get('nome').touched && form.get('nome').invalid }">
          <div *ngIf="form.get('nome').touched && form.get('nome').invalid" class="invalid-feedback"> 
            <div *ngIf="form.get('nome').errors.required">Nome é obrigatório</div>
            <div *ngIf="form.get('nome').errors.minlength">Mínimo 2 caracteres </div>
            <div *ngIf="form.get('nome').errors.maxlength">Máximo 100 caracteres</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="candidato.email" 
          formControlName="email" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid }">
          <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
            <div *ngIf="form.get('email').errors.required">Email é obrigatório</div>
            <div *ngIf="form.get('email').errors.email">Email invalido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" class="form-control" id="telefone" placeholder="Telefone" [(ngModel)]="candidato.telefone" 
          formControlName="telefone" [ngClass]="{'is-invalid': form.get('telefone').touched && form.get('telefone').invalid }" >
          <div *ngIf="form.get('telefone').touched && form.get('telefone').invalid" class="invalid-feedback"> 
            <div *ngIf="form.get('telefone').errors.required">Telefone é obrigatório</div>
            <div *ngIf="form.get('telefone').errors.maxlength">Máximo 14 caracteres</div>
          </div>
        </div> 
        <div class="form-group">
          <label for="dataNascimento">Data de Nascimento:</label>
          <input type="text" class="form-control" id="dataNascimento" placeholder="01/01/2000" [(ngModel)]="candidato.dataNascimento" 
          formControlName="dataNascimento" [ngClass]="{'is-invalid': form.get('dataNascimento').touched && form.get('dataNascimento').invalid }"> 
          <div *ngIf="form.get('dataNascimento').touched && form.get('dataNascimento').invalid" class="invalid-feedback"> 
            <div *ngIf="form.get('dataNascimento').errors.required">Data de Nascimento é obrigatório</div>
            <div *ngIf="form.get('dataNascimento').errors.minlength">Mínimo 10 caracteres</div>
          </div>
        </div> 
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="genero" FormControlName="genero" [ngModelOptions]="{standalone: true}" id="genero1" value="Masculino" [(ngModel)]="candidato.genero">
            <label class="form-check-label" for="genero1">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="genero" FormControlName="genero" [ngModelOptions]="{standalone: true}" id="genero2" value="Feminino" [(ngModel)]="candidato.genero">
            <label class="form-check-label" for="genero2">Feminino</label>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success" (click)="salvar()" [disabled]="!form.valid">Cadastrar</button>
        </div> 
      </div>
    </div>
  </form>
</div>